* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Raleway', sans-serif;
	background: 
	linear-gradient(
		rgba(220,220,220, 0.75),
		rgba(192,192,192, 0.45)
	),
	url(https://images.pexels.com/photos/312839/pexels-photo-312839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
	;

	background-size: cover;
	background-position: right;
	background-repeat: no-repeat; 
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview{
	padding: 3rem;
}

.fullname{
	color: #FFFFFF;
	font-weight: 1000;
	letter-spacing: 5px;
	margin-bottom: .5rem;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.description {
	color: #FFFFFF;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 20rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.e-mail {
	color: #FFFFFF;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.e-mail h3 {
	font-weight: 800;
	letter-spacing: 3px;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}


.works h2 {
	color: #FFFFFF;
	font-weight: 800;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	color: #FFFFFF;
	margin: .5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 500px;
	height: 500px;
	border-radius: 100%;
	margin: auto;
	display: block;
}


@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
width: 100%;
padding: 3rem 0 0;
}

.overview {
order: 1;
padding: 3rem 0;
}

main {
background:
   /* top, transparent #9C27B0 */      
   linear-gradient(
    rgba(0, 255, 222, 0.45),
    rgba(0, 88, 255, 0.45)
   ),      
   /* bottom, image */      
   url(https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.fullname,
.job-title {
text-align: center;
}

.job-title {
font-weight: bolder;
}

.description {
text-align: center;
}

hr {
margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.e-mail {
text-align: center;
}

.works {
text-align: center;
}

